<launch>

    <!-- Launch file for Brian simulation -->
    <arg name="receiver_node" value="brian_recv.py"/>
    <rosparam command="load" file="$(find arm_project)/brian.yaml"/>
    
    <!-- Node Manager -->
    <!-- <node pkg="node_manager_fkie" name="nm" type="nm"/> -->
    
    <!-- Time Server -->
    <node pkg="time_server" name="time_server" type="time_server"/>    

    <!-- ARM Control -->   
    <node pkg="arm" name="arm_control" type="arm_control"/>
  
    <!-- Dish Visualizer -->
    <node pkg="dish_viz" name="dish_viz" type="dish_viz"/>
    
    <!-- Dish/ARM Teleop -->
    <node pkg="arm" name="teleop_arm_dish" type="teleop_arm_dish"/>
    
    <!-- CAT Creator -->
    <node pkg="burst_calc" name="cat_creator" type="cat_creator"/>

    <!-- Burst Creator -->
    <node pkg="burst_calc" name="burst_creator" type="burst_creator"/>

    <!-- Receiver Node -->
    <node pkg="neuro_recv" name="recv" type="$(arg receiver_node)"/>
        
</launch>
